html 
{
    margin: 0;
    height: 100%;
    background-color: #fff0f4;
}
.index-background 
{
    background-image: url("background.gif");
}
#index-body
{
    height: 70%;
}
#image-body
{
    height: 70%;
    background-color: #fff0f4;
}
#advanced-body 
{
    height: 100%;
    margin: 0;
}
header 
{
    width: 100%;
    position: fixed;
    top: 0;
    height: 10%;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}
.advanced-header 
{
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(128, 128, 128);
}
.advanced-header h3 
{
    margin-left: 1em;
    font-family: "futura-bold";
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: rgb(98, 98, 98);
}
.advanced-header a 
{
    margin: 0;
    margin-right: 1em;
}
header a 
{
    margin-top: 1em;
    color: rgb(128, 128, 128);
    font-weight: bold;
    margin-right: 1em;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
}
header a:hover 
{
    text-decoration: underline;
}
.input-container 
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}
@font-face {
    font-family: 'futura-bold';
    src: url('Futura\ Bold\ font.ttf');
}

body, main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
h1 
{
    text-align: center;
    margin-bottom: 0em;
    font-family: "Comfortaa", sans-serif;
    font-size: 5.0rem;
    letter-spacing: -0.07em;
}
section 
{
    display: flex;
    justify-content: center;
}
main 
{
    width: 70%;
}
.main-advanced
{
    margin-top: 2em;
    height: 80%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
}
.main-advanced h2 
{
    margin-left: 1em;
    color: #a5544d;
}
.main-advanced h4 
{
    margin-left: 1em;
}
.main-advanced h6
{
    font-weight: 500;
}
.main-advanced h5
{
    font-weight: 500;
    width: 300px;
}
.main-advanced form 
{
    margin-left: 2em;
    width: 75%;
    position: relative;
}
.main-advanced section 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-advanced input[type=text]
{
    padding: 0;
    padding-left: 1em;
    height: 40px;
    width: 70%;
    border-radius: 0;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    border: 2px solid;
    background-image: none;
}
.text-form 
{
    margin-left: 0.5em;
    width: 75%;
    display: flex;
    justify-content: space-between;
    color: rgb(75, 71, 71);
}
.button-advanced 
{
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid rgb(68, 68, 180);
    background-color: rgb(44, 44, 123);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}
.button 
{
    display: flex;
    justify-content: center;
    width: 100%;
}
section
{
    width: 100%;
}
input[type=text]
{
    width: 90%;
    padding: 1.2em;
    border: 3px solid #8E3E63;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    background-image: url("search.svg");
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position-y: 50%;
    background-position-x: 0.5em;
    padding-left:3em;
    font-size: 1.02rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #B0578D;

}
input[type=text]:focus
{
    outline: none;
}
section 
{
    gap: 1em;
}
input[type=submit]
{
    background-color: rgb(87, 47, 47);
    border: 1px solid transparent;
    color: white;
    font-weight: bold;
    padding: 1em;
    transition: 0.5s;
}
input[type=submit]:hover 
{
    transform: scale(1.1);
}
.totoro 
{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
}
.h2-image
{
    margin: 0;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3em;
    text-align: end;
    
}
.h2-image 
{
    position: relative;
    left: 30px;
    color: #4B70F5;
    font-size: 1rem;
}
@media(max-width: 600px)
{
    span 
    {
        font-size: 3.5rem;
    }
    header a 
    {
        font-size: 1rem;
    } 
    main
    {
        width: 100%;
    }
    input[type=text]
    {
        width: 70%;
        padding: 0.8em;
        padding-left: 3em;
    }
    .h2-image 
    {
        font-size: 1rem;
    }
   
}
@media (max-width:800px)
{
    .main-advanced section 
    {
        justify-content: flex-start;
    }
    .main-advanced form
    {
        width: 100%;
        margin: 0;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    .main-advanced h5, .main-advanced h6
    {
        margin: 1.5em;
        width: 200px;
    }
    .main-advanced h6 
    {
        display: none;
    }
    .main-advanced input[type=text]
    {
        height: 30px;
        width: 45%;
    }
    .search-box 
    {
        display: none;
    }
    
}
/* responsiveness for the advanced page */
@media(max-width: 500px)
{
   .main-advanced form 
   {
    display: flex;
    flex-direction: column;
    gap: 1em;
   }
    .main-advanced form section
    {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

    }
    .main-advanced h5 
    {
        margin: 0em;
        margin-left: 1em;
    }
    .main-advanced input[type=text]
    {
        margin-left: 1em;
        width: 85%;
    }
    .text-form h4 
    {
        margin-left: 0.5em;
    }
    .advanced-header h3 
    {
        margin: 0;
        margin-left: 0.5em;
    }
    .advanced-header h3 span 
    {
        font-size:2rem;
    }
    .main-advanced h2 
    {
        margin: 0.5em;
      
    }
    .totoro3 
    {
        width: 5em;
        height: 5em;
    }
}
@media(min-width: 600px)
{
    main img 
    {
        height: 45px;
    }
}